body{
    background-color: rgb(22, 36, 53);
    margin: 0;
}

.main {
    border: 4px solid goldenrod;
    height: 700px;
    flex-wrap: wrap;
    align-items: center;
    min-width: 320px;
    min-height: auto;
    text-align: center;
}
.picter img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid gold;
}
h2{
    color: white;
    text-transform: uppercase;
}
b{
    color: gold;
}
span{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.links{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid gold;
    border-width: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 320px;
}